@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .gradient {
        background: linear-gradient(to right, rgba(16, 25, 136, .8), rgba(243, 19, 107, .8));
    }
    .gradient-bg {
        background: linear-gradient(to right, rgba(16, 25, 136, .8), rgba(243, 19, 107, .8)), url('https://unsplash.com/photos/HNPrWOH2Z8U/download?ixid=MnwxMjA3fDB8MXxhbGx8fHx8fHx8fHwxNjUxMjMzNjEw&force=true');
    }
}

@layer components {
    .slant {
        clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
    }
    .btn:link,
    .btn:visited,
    .btn {
        display: inline-block;
        padding: 15px 30px;
        text-transform: uppercase;
        text-decoration: none;
        margin: 30px;
        transition: all .2s;
        position: relative;
        border-radius: 100px;
        cursor: pointer;
    }
    .btn:hover {
        transform: translateY(-3px);
    }
    .btn:hover:after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }
    .btn:active {
        transform: translateY(-1px);
    }
    .btn::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 100px;
        background-color: rgb(243, 19, 107);
        transition: all .4s;
    }
    .flash-button {
        animation: shake 1300ms infinite;
        font-weight: bold;
        color: whitesmoke !important;
    }
}